{% extends 'blog/base.html' %}
{% load static %}

{% block bord %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">제목 : {{blog.title}}</h2>
        <hr class="divider" />
        <p>작성 일자 및 시간 : {{ blog.pub_date }}</p>
        <p>글쓴이 : {{ blog.writer }}</p>
        <p>내용 : {{ blog.content }}</p>
        <a href="{% url 'edit' blog.id %}">수정하기</a>
        <a href="{% url 'delete' blog.id %}">삭제하기</a>
    </div>
</section>
{% endblock %}