{% extends 'blog/base.html' %}
{% load static %}

{% block bord %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">제목 : {{blog.title}}</h2>
        <hr class="divider" />
        <p>작성 일자 및 시간 : {{ blog.pub_date }}</p>
        <p>글쓴이 : {{ blog.writer }}</p>
        <p>내용 : {{ blog.content }}</p>
        {% if blog.image %}
            <img src="{{ blog.image.url }}" width="250" height="250" alt="Card image cap">
        <br>
        <br>
        {% endif %}
        <br>
        {% for hashtag in blog.hashtags.all %}
          <span>{{ hashtag.name }}</span>
        {% endfor %}
        <br>
        <a href="{% url 'edit' blog.id %}">수정하기</a>
        <a href="{% url 'delete' blog.id %}">삭제하기</a>
        <br>
        <br>
        <br>
        <h2>댓글</h2>
        {% for comment in blog.comments.all %}
             <p>{{comment.text}}</p>
        {% endfor %}
        <form method="POST" action="{% url 'detail' blog.id %}">
            {% csrf_token %}
            <p>{{ form.as_p }}</p>
            <input type="submit" value="submit">
        </form>
    </div>
</section>
{% endblock %}